*

!.editorconfig
!.gitattributes
!.gitignore
!.github
!.github/**
!LICENSE
!README.md
!CONTRIBUTING.md
!server-manifest.json

!setup.ps1
!setup.sh
!run.ps1
!run.sh
!Dockerfile
!.dockerignore
!docker-compose.yml

!bukkit.yml
!commands.yml
!eula.txt
!pufferfish.yml
!purpur.yml
!server.properties
!spigot.yml
!server-icon.png

!config
!config/**

!plugins
!plugins/**
!plugins/__disabled
!plugins/__disabled/**

!world
!world/paper-world.yml
!world/gale-world.yml
!world/datapacks
!world/datapacks/*.zip

!world_nether
!world_nether/gale-world.yml
!world_nether/paper-world.yml

!world_the_end
!world_the_end/gale-world.yml
!world_the_end/paper-world.yml

*.jar
plugins/**/*.jar
server.jar
*.tmp

logs/
logs/**
crash-reports/
crash-reports/**
*.log
*.log.gz

cache/
cache/**
.cache/
.cache/**
libraries/
libraries/**
versions/
versions/**
.paper-remapped/
.paper-remapped/**
plugins/.paper-remapped/
plugins/.paper-remapped/**

usercache.json
whitelist.json
ops.json
banned-players.json
banned-ips.json

plugins/*/*.db
plugins/*/*.sqlite
plugins/*/*.log
plugins/*/logs/
plugins/*/logs/**
plugins/*/backups/
plugins/*/backups/**
plugins/*/session.lock

world/region/
world/region/**
world/entities/
world/entities/**
world/poi/
world/poi/**
world/data/
world/data/**
world/playerdata/
world/playerdata/**
world/stats/
world/stats/**
world/advancements/
world/advancements/**
world/level.dat*
world/session.lock

world_nether/region/
world_nether/region/**
world_nether/entities/
world_nether/entities/**
world_nether/poi/
world_nether/poi/**
world_nether/data/
world_nether/data/**
world_nether/playerdata/
world_nether/playerdata/**
world_nether/stats/
world_nether/stats/**
world_nether/level.dat*
world_nether/session.lock

world_the_end/region/
world_the_end/region/**
world_the_end/entities/
world_the_end/entities/**
world_the_end/poi/
world_the_end/poi/**
world_the_end/data/
world_the_end/data/**
world_the_end/playerdata/
world_the_end/playerdata/**
world_the_end/stats/
world_the_end/stats/**
world_the_end/level.dat*
world_the_end/session.lock

.DS_Store
Thumbs.db
ehthumbs.db
